/*--- Start Basic Elements ---*/
html {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(images/background-1920x1200.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body { 
	font: arial, sans-serif;
	line-height: 1.6;
	color: #000; 
	background: #fff; 
	opacity: 0.8;
	margin: 100px 100px 40px 100px; 
	padding: 1.5rem 1.5rem 2rem 1.5rem;
	border-radius: 5px;
	float: right;
}
p { 
	margin-top: 0;
}
h3 { 
	font: bold 1.8em arial, sans-serif;
	letter-spacing: 1px; 
	margin-top: 3rem;
	margin-bottom: 1rem;
	color: #000;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #1C86EE;
}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #63B8FF;
}
a:hover, a:focus, a:active { 
	text-decoration: none;
	color: black;
	animation: pulse 1s alternate ease-in-out infinite;
}
abbr {
	border-bottom: none;
}
/*--- End Basic Elements ---*/


/*--- Start Header ---*/
header {
	float: right;
	clear: both;
	margin-left: 30rem;
	line-height: 1.0;
}
header h1 {
	font-family: papyrus, sans-serif;
	font-size: 4em;
	color: #FFBC2F;
	text-shadow: #000 1px 3px 0, #aba8a8 1px 13px 5px;
	margin: 1.2rem 1rem 0 0;
	padding: 0; 
	animation-name: slidein;
	animation-duration: 3s;
}
header h1:hover {
	animation: pulse 1s alternate ease-in-out infinite;
}
header h1::before {
	content: url('images/ying-yang.png');
	vertical-align: -72%;
}
header h2 {
	font-family: arial, sans-serif;
	font-size: 1em;
	float: right;
	margin: 1rem;
	padding: 0;
}
#zen-summary {
	float: right;
	clear: both;
	width: 30rem;
	text-align: right;
	font-size: smaller;
	margin-top: 3rem;
}
/*--- End Header ---*/


/*--- Start Body Text ---*/
.preamble {
	float: right;
	clear: both;
	width: 65%;
	margin: 2rem 0 0 0;
	padding: 2rem 0 0 0;
}
#zen-supporting {
	width: 65%;
	float: right;
	clear: both;
}
/*--- End Body Text ---*/


/*--- Begin Sidebar ---*/
aside ul li {
	list-style-type: none;
}
aside h3 {
	visibility: hidden;
	padding: 0;
	margin: 0;
}
aside {
	position: fixed;
	clear: both;
}
aside div {
	border-radius: 4px;
	padding: 0 0 1rem 0;
	margin-top: 0;
	margin-left: 5px;
    transition-property: border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}
aside div:hover {
    border-radius: 4rem;
}
.design-selection, .design-archives, .zen-resources {
	float: left;
	clear: both;
	text-shadow: 1px 1px 0 darkgray;
}
.design-archives ul {
    display: flex;
    flex-direction: column-reverse;
}
#design-archives {
	background-color: #f0f0f0;
    width: 23rem;
	position: absolute;
	top: 10px;
	border: 1px solid darkgray;
}
.next {
	visibility: hidden;
}
#design-selection {
	position: absolute;
	top: 150px;
	background-color: #f0f0f0;
  	width: 23rem;
	border: 1px solid darkgray;
}
.viewall a::after {
	content: " >> "
}
.viewall {
	margin: 0;
	padding: 0;
}
a[class~="designer-name"] {
	font-size: small;
}
a[href*="andrew"] {
	margin-left: 15px;
}
a[href*="mall"] {
	margin-left: 142px;
}
a[href*="steffen"] {
	margin-left: 131px;
}
a[href*="trent"] {
	margin-left: 102px;
}
a[href*="elliot"] {
	margin-left: 70px;
}
a[href*="carlson"] {
	margin-left: 65px;
}
a[href*="melt"] {
	margin-left: 28px;
}
#design-selection a[href="http://www.mezzoblue.com/"] {
	margin-left: 85px;
}
#zen-resources {
	background-color: #f0f0f0;
	width: 23rem;	
	position: absolute;
	top: 440px;
	border: 1px solid darkgray;
}
/*--- End Sidebar ---*/


/*--- Start Footer FinePrint ---*/
#zen-requirements p:nth-child(6) {
	font-size: small;
	margin: 5rem 0 3rem 0;
}
/*--- End Footer FinePrint ---*/


/*--- Start Footer ---*/
footer {
	margin: 5rem 0 2rem 0;
}
footer a {
	background-color: #63B8FF;
	padding: 1rem;
	margin: 0 0.5rem 0 0;
	border-radius: 3px;
	text-shadow: 0 -1px 0 black;
	box-shadow:  0 2px 1px gray;
}
footer a:link {
	color: white;
	font-family: arial, sans-serif;
}
footer a:hover {
	color: lightgray;
	animation: spin 3s linear infinite;
}
footer a:visited {
	color: gray;
}
.zen-validate-html {
	border-radius: 25px 3px 3px 25px;
}
.zen-github {
	border-radius: 3px 25px 25px 3px;
}
/*--- End Footer ---*/


/*--- Start Keyframes ---*/
@keyframes spin {
  0% {
    transform: rotateX(0deg);
	}
  100% {
    transform: rotateX(360deg);
	}
}
@keyframes pulse {
  0% {
    transform: scale(1);
	}
  100% {
    transform: scale(1.08);
	}
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
	}
  to {
    margin-left: 0;
    width: 100%;
	}
}
/*--- End Keyframes ---*/

